.fs1000 {
  font-size: 4px;
}

.fs2000 {
  font-size: 8px;
}

.fs3000 {
  font-size: 12px;
}

.fs4000 {
  font-size: 16px;
}

.fs5000 {
  font-size: 20px;
}

.fs6000 {
  font-size: 28px;
}

.fs7000 {
  font-size: 28px;
}

.fs8000 {
  font-size: 28px;
}

.fs9000 {
  font-size: 28px;
}

.fs10000 {
  font-size: 32px;
}

.fs11000 {
  font-size: 32px;
}

.fs12000 {
  font-size: 32px;
}

.fs13000 {
  font-size: 32px;
}

.fs14000 {
  font-size: 32px;
}

.fs15000 {
  font-size: 32px;
}

.fs16000 {
  font-size: 32px;
}

.fs17000 {
  font-size: 32px;
}

.fs18000 {
  font-size: 32px;
}

.fs19000 {
  font-size: 32px;
}

.fs20000 {
  font-size: 36px;
}

.fs21000 {
  font-size: 36px;
}

.fs22000 {
  font-size: 36px;
}

.fs23000 {
  font-size: 36px;
}

.fs24000 {
  font-size: 36px;
}

.fs25000 {
  font-size: 36px;
}

.fs26000 {
  font-size: 36px;
}

.fs27000 {
  font-size: 36px;
}

.fs28000 {
  font-size: 36px;
}

.fs29000 {
  font-size: 36px;
}

.fs30000 {
  font-size: 40px;
}

.fs31000 {
  font-size: 40px;
}

.fs32000 {
  font-size: 40px;
}

.fs33000 {
  font-size: 40px;
}

.fs34000 {
  font-size: 40px;
}

.fs35000 {
  font-size: 40px;
}

.fs36000 {
  font-size: 40px;
}

.fs37000 {
  font-size: 40px;
}

.fs38000 {
  font-size: 40px;
}

.fs39000 {
  font-size: 40px;
}

.fs40000 {
  font-size: 44px;
}

.fs41000 {
  font-size: 44px;
}

.fs42000 {
  font-size: 44px;
}

.fs43000 {
  font-size: 44px;
}

.fs44000 {
  font-size: 44px;
}

.fs45000 {
  font-size: 44px;
}

.fs46000 {
  font-size: 44px;
}

.fs47000 {
  font-size: 44px;
}

.fs48000 {
  font-size: 44px;
}

.fs49000 {
  font-size: 44px;
}

.fs40000 {
  font-size: 48px;
}

.fs41000 {
  font-size: 48px;
}

.fs42000 {
  font-size: 48px;
}

.fs43000 {
  font-size: 48px;
}

.fs44000 {
  font-size: 48px;
}

.fs45000 {
  font-size: 48px;
}

.fs46000 {
  font-size: 48px;
}

.fs47000 {
  font-size: 48px;
}

.fs48000 {
  font-size: 48px;
}

.fs49000 {
  font-size: 48px;
}

.fs50000 {
  font-size: 52px;
}