html {
  font-family: "Teko", sans-serif;
}

#container {
  position: relative;
  height: 50vh;
  background-color: #17a2b8;
}

.animate-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  font-size: 2em;
}
.animate-title.inview {
  opacity: 1;
}
.animate-title.inview .char {
  display: inline-block;
  animation-name: kf-animate-chars;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.39, 1.57, 0.58, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
}
.animate-title.inview .char:nth-child(1) {
  animation-delay: 0.04s;
}
.animate-title.inview .char:nth-child(2) {
  animation-delay: 0.08s;
}
.animate-title.inview .char:nth-child(3) {
  animation-delay: 0.12s;
}
.animate-title.inview .char:nth-child(4) {
  animation-delay: 0.16s;
}
.animate-title.inview .char:nth-child(5) {
  animation-delay: 0.2s;
}
.animate-title.inview .char:nth-child(6) {
  animation-delay: 0.24s;
}
.animate-title.inview .char:nth-child(7) {
  animation-delay: 0.28s;
}
.animate-title.inview .char:nth-child(8) {
  animation-delay: 0.32s;
}
.animate-title.inview .char:nth-child(9) {
  animation-delay: 0.36s;
}

@keyframes kf-animate-chars {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}